.test
{
	background-color:tomato;
	margin: 20px;
	padding: 20px;
}
div
{
	width:600px;
	margin:auto;
}
body
{
	background-color: powderblue;
}
h1
{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: rgb(30, 70, 10);
}
p
{
	color: black;
}